Q1. Create one variable containing following type of data:
- (i) string
- (ii) list
- (iii) float
- (iv) tuple

In [1]:
# String
string = "Assignment No 1"

In [2]:
# List
list1 = ['list', 1, 0.5,[1,2,3]]

In [3]:
# float
float1 = 2.5

In [4]:
tup = ('list', 1, 0.5)

Q2. Given are some following variables containing data:
- (i) var1 = ‘ ‘
- (ii) var2 = ‘[ DS , ML , Python]’
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
- (iv) var4 = 1.

What will be the data type of the above given variable.

In [5]:
var1 = ' '
type(var1) #---> String

str

In [6]:
var2 = '[DS, ML, Python]'
type(var2) #---> String

str

In [7]:
var3 = ['DS', 'ML', 'Python']
type(var3) #---> List

list

In [8]:
var4 = 1
type(var4) #---> Int

int

Q3. Explain the use of the following operators using an example:
- (i) / ----: float Division operator, This operator used to divides the first operand by other operand 
- (ii) % ---: Modulus operator, returns the remainder when the first operand divided by second operand

- (iii) // -: floor Division operator. returns the quotient value when divides the first operand by the second operand

- (iv) **---: power operator. returns the frist raised to power second

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
iter = [1,2.3,57,'hai', 8,'india',7846,'python',2.7,'assignment']
for i in iter:
    print(i,'----:',type(i))

1 ----: <class 'int'>
2.3 ----: <class 'float'>
57 ----: <class 'int'>
hai ----: <class 'str'>
8 ----: <class 'int'>
india ----: <class 'str'>
7846 ----: <class 'int'>
python ----: <class 'str'>
2.7 ----: <class 'float'>
assignment ----: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [20]:
a=int(input())
b=int(input())
c = 0
d = 0
if a%b==0:
    while a>=b:
        c+=1
        a = a/b
else:
    print('Not divisible')
print(c)

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [22]:
iter1= list(range(25))
for i in iter1:
    if i%3==0:
        print(i, 'is divisible by 3')
    else:
        print(i, 'is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

- Mutable
Is a object which allow us to change the value or data by without affecting the object's identity.
Eg: List, set, dictionary
- Immutable
Is a data types are those, whose values cannot be modified once they are created
Eg: int, String, tuple